/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    font-family: 'Poppins', sans-serif; 
}

body {
    background:  rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
}

/* Estilos de la App */
.App {
    min-height: 100vh; 
    display: flex; 
}

/* Barra lateral */
/* Barra lateral */
.sideBar {
    width: 250px; 
    height: 100vh; 
    background: rgb(30, 61, 89); 
    padding: 30px 15px; 
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    border-right: 1px solid rgba(255, 255, 255); /* Línea de separación */
}


.logo {
    width: 100%; 
    max-width: 290px; 
    height: auto; 
    margin-bottom: 20px; 
}

.brand {
    font-size: 2rem; 
    text-align: center; 
    margin-bottom: 2rem; 
}

.upperSide {
    padding: 2.5rem 0; 
    border-bottom: 1px solid rgba(255, 255, 255); 
}

.upperSideTop {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 2.5rem; 
}

.miBtn {
    background: #0791BE; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 200px; 
    height: 50px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-bottom: 1rem; 
}

.miBtn:hover {
    background-color: #FFA500; 
}

.miBtn img {
    width: 40px; 
    height: auto; 
    margin-right: 1rem; 
}

.upperSideBottom {
    margin-top: 1rem; 
}

.query {
    display: flex; 
    align-items: center; 
    background: transparent; 
    padding: 1.5rem; 
    width: 90%; 
    max-width: 20rem; 
    margin: 1rem auto; 
    border-radius: 0.5rem; 
    border: 1px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
}

.query > img {
    margin-right: 1rem; 
    object-fit: cover; 
    height: 1.75rem; 
}

.lowerside {
    margin-top: auto; 
}

.socialNetworks {
    display: flex; 
    justify-content: center; 
    margin-top: 2rem; 
}

.socialNetworks a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    color: rgb(255, 255, 255); 
    background: #FFA500; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    margin: 0 5px; 
}

.socialNetworks a:hover {
    background: #0791BE; 
    color: #FFA500; 
}

/* Estilos del Chatbot */
.main {
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 250px;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}

.chatImg {
    object-fit: cover;
    width: 4rem; /* Aumentado para una mejor visualización */
    height: 4rem; /* Agregado para mantener la proporción */
    margin-right: 1.5rem; /* Espaciado reducido para mayor alineación */
    border-radius: 50%; /* Cambiado a 50% para imágenes circulares */
}

.chats {
  
    border-radius: 12px; /* Bordes redondeados */
            border: 2px solid transparent; /* Asegura que el borde tenga suficiente grosor para mostrar el gradiente */
            border-image: linear-gradient(to right, #FFA500, #0791BE); /* Tomate y Celeste */
            border-image-slice: 1; /* Asegura que el gradiente ocupe todo el borde */
            padding: 16px; /* Espaciado interno */
}

/* Efecto hover para .chats */
.chats:hover {
    box-shadow: linear-gradient(to right, #FFA500, #0791BE); /* Tomate y Celeste */
}

.chat {
    margin: 1rem 0; /* Añadido margen entre mensajes */
    padding: 1rem 1.5rem; /* Aumentado para mejorar el espaciado */
    font-size: 1.1rem; /* Ajustado para mejor legibilidad */
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: transparent;
}


.txtBot {
    background-color: #FFB108; /* Color de fondo del mensaje del bot */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Ajusta el ancho máximo del mensaje */
}
.txtUser {
    background-color: #0791BE; /* Color de fondo del mensaje del bot */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Ajusta el ancho máximo del mensaje */
}
.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    color: rgb(7, 145, 190); /* Color de texto contrastante */
    border: 2px solid rgb(7, 145, 190);/* Borde con color acento */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    font-size: 1em;
    resize: none; /* Deshabilitar el redimensionado del textarea */
}



.inp input::placeholder {
    color: rgb(7, 145, 190);
}

.send {
    background: #FFA500;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem; /* Aumentado para mayor clicabilidad */
    margin-left: 0.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1rem; /* Ajustado para mantener la proporción con el input */
}

.send:hover {
    background: #0791BE;
}

