/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    font-family: 'Poppins', sans-serif; 
}

body {
    background:  rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
}

/* Estilos de la App */
.App {
    min-height: 100vh; 
    display: flex; 
}

/* Barra lateral */
.sideBar {
    width: 250px; 
    height: 100vh; 
    background: rgb(30, 61, 89); 
    padding: 30px 15px; 
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    overflow: hidden; /* Ocultar las barras de desplazamiento */
    border-right: 1px solid rgba(255, 255, 255); /* Línea de separación */
}


.logo {
    width: 100%; 
    max-width: 290px; 
    height: auto; 
    margin-bottom: 20px; 
}

.brand {
    font-size: 2rem; /* Tamaño de fuente */
    text-align: center; /* Alinear texto al centro */
    margin-bottom: 2rem; /* Espacio debajo del texto */
    font-family: 'Poppins', sans-serif; /* Fuente */
    font-weight: bold; /* Texto en negrita */
   
}

.upperSide {
    padding: 2.5rem 0; /* Espaciado superior e inferior */
    border-bottom: 1px solid rgba(255, 255, 255); /* Línea de separación */
    display: flex; /* Utiliza flexbox para la alineación */
    flex-direction: column; /* Organiza elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la barra lateral */
}



.brand1 {
    font-size: 2rem; 
    text-align: center; 
    margin-bottom: 2rem; 
    color: #FFA500;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; /* Establecer el texto como grueso */
}



.upperSideTop {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 2.5rem; 
}

.miBtn {
    background: #0791BE; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 1rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 200px; 
    height: 50px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-bottom: 1rem; 
    font-weight: bold; /* Establecer el texto como grueso */
    font-family: 'Poppins', sans-serif; 
}

.miBtn:hover {
    background-color: #FFA500; 
    
}

.miBtn img {
    width: 40px; 
    height: auto; 
    margin-right: 1rem; 
    
}

.upperSideBottom {
    margin-top: 1rem; 
}

.query {
    display: flex; 
    align-items: center; 
    background: transparent; 
    padding: 1.5rem; 
    width: 90%; 
    max-width: 20rem; 
    margin: 1rem auto; 
    border-radius: 0.5rem; 
    border: 1px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255); 
}

.query > img {
    margin-right: 1rem; 
    object-fit: cover; 
    height: 1.75rem; 
}

.lowerside {
    margin-top: auto; 
}

.socialNetworks {
    display: flex; 
    justify-content: center; 
    margin-top: 2rem; 
}

.socialNetworks a {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    color: rgb(255, 255, 255); 
    background: #FFA500; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    margin: 0 5px; 
}

.socialNetworks a:hover {
    background: #0791BE; 
    color: #ffffff; 
}

/* Estilos del Chatbot */
.main {
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 250px;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}

.chatImg {
    object-fit: cover;
    width: 4rem; /* Tamaño optimizado */
    height: 4rem; /* Mantiene proporción */
    margin-right: 1.5rem; /* Espaciado adecuado */
    border-radius: 50%; /* Imágenes circulares */
    align-self: flex-start; /* Alinea la imagen del usuario o bot hacia arriba */
}

.chats {
    width: 100%;
    max-width: 91rem;
    min-height: calc(100vh - 20rem); /* Altura ajustada */
    padding: 1.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(135deg, #ffffff, #f0f0f0); /* Fondo sutil */
    border-radius: 12px; /* Bordes redondeados */
    position: relative; /* Necesario para el gradiente */
    overflow: hidden; /* Para mantener el contenido dentro de los bordes redondeados */
}

.chats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* El borde se hereda redondeado */
    padding: 2px; /* Grosor del borde */
    background: linear-gradient(to right, #FFA500, #0791BE); /* Gradiente */
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0); /* Para asegurar que el contenido se ajuste */
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
     
}

.chats .content {
    position: relative;
    z-index: 1;
}

/* Efecto hover para .chats */
.chats:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Contenedor de mensajes */
/* Contenedor de mensajes */
.chat {
    margin: 1rem 0; /* Espaciado vertical entre mensajes */
    padding: 1rem 1.5rem; /* Espaciado interno */
    font-size: 1.7rem; /* Tamaño ajustado del texto */
    display: flex; /* Usar flexbox para alinear */
    align-items: center; /* Alinear verticalmente */
    background-color: transparent; /* Fondo transparente */
}

/* Mensajes del bot */
.txtBot {
    background-color: #FFB108; /* Fondo del mensaje del bot */
    display: inline-block; /* Mantener el cuadro del mensaje */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 80%; /* Ancho máximo */
    word-wrap: break-word; /* Ajustar texto largo */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alinear texto a la izquierda */
}


/* Mensajes del usuario */
.txtUser {
    background-color: #0791BE; /* Fondo del mensaje del usuario */
    display: inline-block; /* Mantener el cuadro del mensaje */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 80%; /* Ancho máximo */
    overflow-wrap: break-word; /* Ajustar texto largo de forma correcta */
    font-weight: bold; /* Texto en negrita */
    margin-left: auto; /* Alinear a la derecha en el contenedor flex */
    text-align: left; /* Alinear texto a la izquierda dentro del cuadro */
}


/* Imagen del bot */
.chatImg-bot {
    object-fit: cover; /* Ajustar la imagen */
    width: 4rem; /* Tamaño de la imagen */
    height: 4rem; /* Mantener proporción */
    margin-right: 1.5rem; /* Espaciado a la derecha */
    border-radius: 50%; /* Imagen circular */
}

/* Imagen del usuario */
.chatImg {
    object-fit: cover; /* Ajustar la imagen */
    width: 4rem; /* Tamaño de la imagen */
    height: 4rem; /* Mantener proporción */
    margin-left: 1.5rem; /* Espaciado a la izquierda para separar del texto */
    border-radius: 50%; /* Imagen circular */
}


/* Footer del chat */
.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 91rem; /* Igual al max-width de .chats */
    display: flex;
    align-items: center;
    border: 2px solid rgb(7, 145, 190);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
}


.inp input {
    flex: 1;
    padding: 1rem;
    border: none; /* Elimina el borde */
    background: transparent; /* Fondo transparente */
    color: #0791BE; /* Texto de color celeste */
    font-size: 1.7rem; /* Tamaño ajustado del texto */
    font-weight: bold; /* Establecer el texto como grueso */
}

.inp input::placeholder {
    color: rgba(7, 145, 190, 0.5); /* Color celeste para el placeholder con opacidad */
    font-weight: bold; /* Establecer el texto como grueso */
}

.inp input:focus {
    outline: none; /* Elimina el borde de enfoque */
    box-shadow: none; /* Elimina la sombra en algunos navegadores */
}


.send {
    background: #FFA500;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    margin-left: 0.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1rem;
    
}

.send:hover {
    background: #0791BE;
}

/* Responsividad para dispositivos pequeños */
@media (max-width: 768px) {
    .main {
        margin-left: 0;
        padding: 1rem;
    }

    .chats {
        max-width: 100%;
        height: auto;
        padding: 1rem;
    }

    .inp {
        width: 100%;
    }

    .send {
        padding: 0.5rem 1rem;
    }
}

.disclaimer {
    margin-top: 12px;
    color:#FFA500;
    font-size: 0.7em;
}